.gradle/
.kotlin/
**/build/
local.properties
.env
.env.*
!.env.example
.idea/
*.iml
.DS_Store
**/xcuserdata/
**/DerivedData/
artifacts/
**/google-services.json
**/GoogleService-Info.plist
**/firebase-config.js
**/firebase-web.json
*.jks
*.keystore

/config/oidc/*.json

*.p12
*.p8
*.mobileprovision

__pycache__/
gha-creds-*.json
